<h1>Log in</h1><br>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="field">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div><br>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div><br>
<div class="field">
  <%= f.submit "Log in" %>
</div>
<% end %>
