<h2><%= @user.name %>'s favorites</h2>
<button type="button" class="btn"><%= link_to "Posts", pictures_path %></button>
  <% @favorites.each do |favorite| %>
  <div hidden><%= picture=Picture.find(favorite.picture_id) %></div>
  <p>title: <%= picture.title %></p>
  <p>content: <%= picture.content %></p>
  <p>
    <strong>Image:</strong>
    <%= image_tag picture.image.url if picture.image? %>
  </p>
<% end %>
